.article {
    padding: 0;
    a {
        color: black;
        p {
            color: rgba(0, 0, 0, 0.9);
        }
    }
    a:hover {
        text-decoration: none;
    }
}

@media (min-width: 768px) {
    .article {
      padding: 1rem;
    }
}