@import "../../node_modules/bootstrap/scss/bootstrap";

@font-face {
    font-family: "NYTbody";
    src: url("../fonts/NYTCheltenham-Book.woff2") format("woff2"),
        url("../fonts/NYTCheltenham-Book.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "NYTheading";
    src: url("../fonts/NYTCheltenhamCond-Medium.woff2") format("woff2"),
        url("../fonts/NYTCheltenhamCond-Medium.woff") format("woff");
    font-display: swap;
}

body {
    font-family: "NYTbody";
    background-color: white;
    @media (min-width: 768px) {
        font-size: 22px;
    }
}

h1, h2, h3 {
    font-family: "NYTheading";
}

a {
    color: rgb(0, 0, 175);
    &:hover {
        color: rgb(0, 0, 175);
    }
}